<div class="Topics-container">
  <h4>Topics</h4>
  <!-- <button (click)="function_temp()">click</button> -->
  <div class="Topics-flex_container">
    <div *ngFor="let topic of topics">

      <!-- contain each topic information  -->

      <mat-card class="Topic-card">
        <mat-card-content class="Topic-card__content">
          <mat-card-title>
            {{topic.topicName}}
          </mat-card-title>
        </mat-card-content>

        <!-- Buttons used to view topic page or play game directly or follow -->

        <mat-card-actions class="Topic-action_buttons">
          <button mat-stroked-button (click)="gotoGameplay(topic.topicName)" routerLinkActive="active">Play</button>
          <button mat-stroked-button (click)="gotoTopic(topic)">View</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>