<h3 class="quizrt-c-section__title">Topics</h3>
<div class="quizrt-c-topic__container">
  <mat-card class="quizrt-c-topic__card" *ngFor="let topic of topics" class="quizrt-c-topics">
    <mat-card-header>
      <mat-card-title>{{topic.topicName | titlecase}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="quizrt-l-topic__content">
      <img class="quizrt-c-topic__icon" src="./assets/topic.png" alt="" srcset="">
    </mat-card-content>
    <mat-card-actions class="quizrt-l-action__container">
      <button mat-button (click)="gotoGameplay(topic.topicName)">Play</button>
      <button mat-button (click)="gotoTopic(topic)">View</button>
    </mat-card-actions>
  </mat-card>
</div>