.Topics-flex_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.Topic-action_buttons {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: space-around;
}

.mat-stroked-button {
    border: none;
}

h4 {
    margin: 3%;
}

.Topic-card {
    color: #F0F3BD;
    background: #028090;
}

button {
    background-color: #05668D;
    margin: 0%;
}

@media(max-width: 320px) {
    .Topic-card {
        border-radius: 8px;
        width: 10rem;
        padding: 1rem;
        margin-top: 30px;
    }
    .Topic-card__content {
        height: 10vh;
    }
}

@media(min-width: 375px) {
    .Topic-card {
        border-radius: 8px;
        width: 17rem;
        padding: 1rem;
        margin-top: 30px;
    }
    .Topic-card__content {
        height: 13vh;
    }
}

@media(min-width: 425px) {
    .Topic-card {
        border-radius: 8px;
        width: 20rem;
        padding: 1rem;
        margin-top: 30px;
    }
    .Topic-card__content {
        height: 15vh;
    }
}

@media(min-width: 527px) {
    .Topic-card {
        border-radius: 8px;
        width: 15rem;
        padding: 1rem;
        margin-top: 30px;
    }
    .Topic-card__content {
        height: 10vh;
    }
}

@media(min-width: 768px) {
    .Topic-card {
        border-radius: 8px;
        width: 10rem;
        padding: 1rem;
        margin-top: 30px;
    }
    .Topic-card__content {
        height: 5vh;
    }
}

@media(min-width: 1024px) {
    .Topic-card__content {
        height: 5vh;
    }
    .Topic-card {
        border-radius: 8px;
        width: 10rem;
        padding: 1rem;
        margin-top: 30px;
    }
}