<div class="Topics-container">
  <h4>Topics</h4>
  <div class="Topics-flex_container">
    <div *ngFor="let topic of topics">
      <mat-card class="Topic-card">
        <mat-card-content class="Topic-card__content">
        <mat-card-title>
          {{topic.topic_name}}
        </mat-card-title>
        </mat-card-content>
        <mat-card-actions class="Topic-action_buttons">
          <button mat-stroked-button (click)="gotoGameplay()" routerLinkActive="active">Play</button>
          <button mat-stroked-button routerLink="/topics/{{topic.topic_name}}">View</button>
          <button mat-stroked-button routerLink="#">Follow</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>