.Info{
  display: flex;
  flex-flow: row wrap;
}

a {
  color: inherit;
}

mat-header-cell {
  justify-content: center;
  padding: 0%;
}

mat-cell {
  justify-content: center;
  padding: 0%;
}

.post-header-image {
  background-image: url("../../../img/male-icon-4.jpg");
}

@media(max-width: 320px) {
  .Info {
    flex-flow: column wrap;
    justify-content: center;
    margin-top: 4vh;
  }

  .Info img {
    width: 80px;
    height: 80px;
  }

  h5, h6 {
    margin: 2%;
  }

  .WritePost {
    margin-top: 4vh;
  }

}