.companyName {
  font-size: 150%;
}

.mat-toolbar {
  height: 10vh;
  background-color: #DE541E;
}

div {
  overflow: inherit;
}

.mat-sidenav-container {
  background-color: #DE541E;
  min-height: 100vh !important;
}

a {
  text-decoration: none;
  font-size: 100%;
  white-space: normal;
}

button {
  font-size: 110%;
  min-width: min-content;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-sidenav-content {
  font-size: 200%;
  text-align: center;
}

.mat-sidenav-content {
  background-color: #D6D6B1;
  color: #3F3F37;
  height: 1000vh;
}

.mat-drawer-container {
  color:#3F3F37;
}

