.AppName {
  font-size: 150%;
}

.mat-toolbar {
  height: 10vh;
  background-color: #05668D;
}

div {
  overflow: inherit;
}

.mat-sidenav-container {
  background-color: #E3EBFF;
  min-height: 90vh !important;
}

a {
  text-decoration: none;
  font-size: 100%;
  white-space: normal;
}

button {
  font-size: 110%;
  min-width: min-content;
}

.spacer {
  flex: 1 1 auto;
}

.mat-sidenav-content {
  font-size: 200%;
  text-align: center;
}

.mat-sidenav-content {
  background-color: #E3EBFF;
  color: #2B223B;
  height: 1000vh;
}

.mat-drawer-container {
  color:#2B223B;
}

