<div class="title">
  <div class="item">
    <!-- <mat-card-title> -->
    <h4 id="title">{{name}}</h4>
    <!-- </mat-card-title> -->
    <button mat-raised-button (click)="gotoGameplay()">
      Play
    </button>
    <button mat-raised-button *ngIf="!follow" (click)="toggle()">Follow</button>
    <button mat-raised-button *ngIf="follow" (click)="toggle()">Unfollow</button>
  </div>
</div>

<div class="posts">

  <div class="WritePost">
    <textarea name="textarea" type="text" rows="5" cols="59" placeholder="Write your post here" [(ngModel)]='post'></textarea>
    <button mat-raised-button (click)="createPosts()">Post</button>
  </div>

  <h2>All Posts</h2>

  <div *ngFor="let post of posts">
    <mat-card class="post-card">
      <mat-card-header>
        <div mat-card-avatar class="post-header-image"></div>
        <mat-card-title (click)="gotoProfile()">{{post.userName}}</mat-card-title>
      </mat-card-header>
      <mat-card-content routerLink="/post/{{post.postId}}">
        <p>
          {{post.post}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>  