
.title {
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 20px;
  overflow-y: scroll;
  align-items: center;
}

.post-card {
  border-radius: 8px;
}

textarea {
  font-family: 'Product Sans';
  border-radius: 8px;
  color: black;
  background-color: white;
}
