
.title {
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  overflow-y: scroll;
  align-items: center;
}

.post-card {
  border-radius: 8px;
}

textarea {
  font-family: 'Product Sans';
  border-radius: 8px;
  color: black;
  background-color: white;
}

.post-btn-wrapper {
  display: flex;
  align-items: flex-end;
}

.quizrt-c-post {
  margin-top: 10px;
  border-radius: 8px;
}

.quizrt-c-post__avatar {
  background-image: url('../../assets/user.png');
  background-size: cover;
}
