a {
    color: #000;
}



.Topics {
    display: flex;
    flex-flow: row wrap;
    
}

.Topic {
    display: grid;
    justify-items: center;
    width: 10rem;
}

.Topics img {
    width: 5rem;
    margin-bottom: 2%;
}

h4 {
    color: white;
}

@media(max-width: 425px) {
    .mat-card-content>:first-child, .mat-card>:first-child {
        margin-top: 0;
        justify-content: space-around;
    }
    .ProfilePic {
        width: 80px;
        height: 80px;
    }
    .UserInfo {
        flex-flow: column wrap;
    }
    .Topics {
        flex-flow: column wrap;
    }
    
}