<div class="Waiting games">
  <h4>Join Games</h4>
  <div class="Topics-flex_container">
    <div>
      <mat-card class="Topic-card">
        <mat-card-content class="Topic-card__content">
          <mat-card-title>
            Football
          </mat-card-title>
        </mat-card-content>
        <mat-card-actions class="Topic-action_buttons">
          <button mat-stroked-button (click)="gotoGameplay()" routerLinkActive="active">Play</button>
          <button mat-stroked-button routerLink="#">View</button>
          <button mat-stroked-button routerLink="/topics/{{topic.topic_name}}">Follow</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div>
      <mat-card class="Topic-card">
        <mat-card-content class="Topic-card__content">
          <mat-card-title>
            Cricket
          </mat-card-title>
        </mat-card-content>
        <mat-card-actions class="Topic-action_buttons">
          <button mat-stroked-button (click)="gotoGameplay()" routerLinkActive="active">Play</button>
          <button mat-stroked-button routerLink="#">View</button>
          <button mat-stroked-button routerLink="/topics/{{topic.topic_name}}">Follow</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div>
      <mat-card class="Topic-card">
        <mat-card-content class="Topic-card__content">
          <mat-card-title>
            Cricket
          </mat-card-title>
        </mat-card-content>
        <mat-card-actions class="Topic-action_buttons">
          <button mat-stroked-button (click)="gotoGameplay()" routerLinkActive="active">Play</button>
          <button mat-stroked-button routerLink="#">View</button>
          <button mat-stroked-button routerLink="/topics/{{topic.topic_name}}">Follow</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<div class="PopularTopics">
  <h4>Popular Topics</h4>
  <div class="Topics-flex_container">
    <div>
      <mat-card class="Topic-card">
        <mat-card-content class="Topic-card__content">
          <mat-card-title>
            Cricket
          </mat-card-title>
        </mat-card-content>
        <mat-card-actions class="Topic-action_buttons">
          <button mat-stroked-button (click)="gotoGameplay()" routerLinkActive="active">Play</button>
          <button mat-stroked-button routerLink="#">View</button>
          <button mat-stroked-button routerLink="/topics/{{topic.topic_name}}">Follow</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div>
      <mat-card class="Topic-card">
        <mat-card-content class="Topic-card__content">
          <mat-card-title>
            Cricket
          </mat-card-title>
        </mat-card-content>
        <mat-card-actions class="Topic-action_buttons">
          <button mat-stroked-button (click)="gotoGameplay()" routerLinkActive="active">Play</button>
          <button mat-stroked-button routerLink="#">View</button>
          <button mat-stroked-button routerLink="/topics/{{topic.topic_name}}">Follow</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div>
      <mat-card class="Topic-card">
        <mat-card-content class="Topic-card__content">
          <mat-card-title>
            Cricket
          </mat-card-title>
        </mat-card-content>
        <mat-card-actions class="Topic-action_buttons">
          <button mat-stroked-button (click)="gotoGameplay()" routerLinkActive="active">Play</button>
          <button mat-stroked-button routerLink="#">View</button>
          <button mat-stroked-button routerLink="/topics/{{topic.topic_name}}">Follow</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<div class="FavouriteTopics">
  <h4>Favourite Topics</h4>
  <div class="Topics-flex_container">
    <div>
      <mat-card class="Topic-card">
        <mat-card-content class="Topic-card__content">
          <mat-card-title>
            Hockey
          </mat-card-title>
        </mat-card-content>
        <mat-card-actions class="Topic-action_buttons">
          <button mat-stroked-button (click)="gotoGameplay()" routerLinkActive="active">Play</button>
          <button mat-stroked-button routerLink="#">View</button>
          <button mat-stroked-button routerLink="/topics/{{topic.topic_name}}">Follow</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div>
      <mat-card class="Topic-card">
        <mat-card-content class="Topic-card__content">
          <mat-card-title>
            Cricket
          </mat-card-title>
        </mat-card-content>
        <mat-card-actions class="Topic-action_buttons">
          <button mat-stroked-button (click)="gotoGameplay()" routerLinkActive="active">Play</button>
          <button mat-stroked-button routerLink="#">View</button>
          <button mat-stroked-button routerLink="/topics/{{topic.topic_name}}">Follow</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div>
      <mat-card class="Topic-card">
        <mat-card-content class="Topic-card__content">
          <mat-card-title>
            Cricket
          </mat-card-title>
        </mat-card-content>
        <mat-card-actions class="Topic-action_buttons">
          <button mat-stroked-button (click)="gotoGameplay()" routerLinkActive="active">Play</button>
          <button mat-stroked-button routerLink="#">View</button>
          <button mat-stroked-button routerLink="/topics/{{topic.topic_name}}">Follow</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>